<?xml version="1.0"?>

<!-- 
todo change this
        NOTE TO USERS

Write for both your connections, all parameters, below (id, host, database, user, passwd, etc... ).
All tables must have as primary key the column with name "ID", 
    and as foreign key the column with name ForeignTableName + "ID".
All table IDs must have identity set.
Child Tables must have On Delete and On Update set to Cascade for their references to Parent tables.
-->

<configuration>
    <configSections>
        <section name="DBConnections" 
                 type="new_GenericDBMS.project.configuration.ConnectionDataSection, new_GenericDBMS"/>
    </configSections>

    <DBConnections> 
    <instances>
        <add id="conn0"
             host="172.17.0.2"
             database="music"
             user="SA"
             passwd="Hheren1999"
             tableOne="Formation"
             tableMany="Artist"
             foreignKey="formationId"
        />
        <add id="conn1" 
             host="172.17.0.2"
             database="music"
             user="SA"
             passwd="Hheren1999"
             tableOne="Genre"
             tableMany="Artist"
             foreignKey="genreId"
        />
    </instances> 
    </DBConnections>
</configuration>
